.mainButton {
    background: #fff;
    border: 1px solid #999;
    width: 200px;
    height: 40px;
}

.mainButton:hover {
    background: #444;
    border: 1px solid #999;
    color: white;
    transition: 0.4s;
}

.navA {
    text-decoration: none;
    font-size: 18;
    color: black;
}

.navA:hover {
    color: white;
    text-shadow: #000 1px 1px;
    transition: 0.2s;
}